<p>Liste des </p>
<ul>
    {% for article in articles %}

        <div class="jumbotron">
            <h1><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a></h1>
            <p>{{ article.content }}</p>
            <p class="pull-right">{{ article.createdAt | date('m/d/Y H:i') }}</p>
            <p><a class="{{ path('article_list', {'tag': article.tag}) }}" href="#" role="button">{{ article.tag }}</a></p>
        </div>
    {% endfor %}
</ul>